<% @page_title = "Admin Login" %>
<div class="row">
  *.Once contact has been added into database, user could use email and phone number to login in.
</div>
<div class="row">
  <%= form_tag(:action => 'attempt_login') do %>
  <table class="table">
    <tr>
      <td><%= label_tag(:username) %> (admin)</td>
      <td><%= text_field_tag(:username) %> </td>
    </tr>
    <tr>
      <td><%= label_tag(:password) %> (123456)</td>
      <td><%= password_field_tag(:password) %></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><%= submit_tag("Log In") %></td>
    </tr>
  </table>
  <% end %>
</div>
