<% @page_title = "List" %>

<div class="container">

  <div class="well well-sm">
    <h4><%= link_to("Menu", {:controller => 'access', :action => 'index'}, :class => 'back-link') %>/Contact List (<%= pluralize(@admin_users.size, 'people') %> found)</h4>


  </div>

  <div class="row">
    <div class="col-md-7">
    </div>
    <div class="col-md-1 text-left">
    </div>
    <div class="col-md-2 text-left">
      <a href="/contacts/gmail" class="btn btn-success">Gmail Contact Import</a>
    </div>
    <div class="col-md-2 text-right">
    <%= link_to('Add New Contact', {:action => 'new'}, :class => 'btn btn-success') %>
    </div>
  </div>
  <div class="row">
  </div>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Actions</th>
    </tr>
    <% @admin_users.each do |admin_user| %>
    <tr class="<%= cycle('info', '') %>">
      <td><%= admin_user.name %></td>
      <td><%= mail_to(admin_user.email) %></td>
      <td><%= admin_user.phone %></td>
      <td class="actions">
        <%= link_to('Edit', {:action => 'edit', :id => admin_user.id}, :class => 'action edit') %>
        <%= link_to('Delete', {:action => 'delete', :id => admin_user.id}, :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>

</div>
